{% extends 'site_base.html' %}
{% load static %}

{%  block script %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.jcarcousel.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jcarousel.basic.css'%}">
{%  endblock %}

{% block content %}

<div class="jcarousel-wrapper">
<div class="jcarousel" data-jcarousel="true">
    <ul>
        <li>
            <img src="{{images.0.fetch_url}}" width="600" height="400" alt="">
        </li>
        <li>
            <img src="{{images.1.fetch_url}}" width="600" height="400" alt="">
        </li>
    </ul>
</div>

<a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
<a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>

</div>

<div class="small-8 columns" id="img-viewer-div">

</div>

<script src="{%  static 'js/image.js' %}"></script>
{% endblock %}
