{% extends 'site_base.html' %}
{% load static %}

{%  block script %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.jcarcousel.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jcarousel.basic.css'%}">
{%  endblock %}

{% block content %}

{% if images|length %}
    <div class="jcarousel-wrapper">

        <div class="jcarousel" data-jcarousel="true">
            <ul>
                {% for image in images %}
                <li>
                    <img src="{{image.fetch_url}}" width="600" height="400"
                                                                alt="">
                </li>
                {%endfor%}
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev inactive"
                                    data-jcarouselcontrol="true">‹</a>
        <a href="#" class="jcarousel-control-next"
                                    data-jcarouselcontrol="true">›</a>
    </div>
{% else %}
    <p> There is no photo in this category </p>
{% endif %}

<div class="small-8 columns" id="img-viewer-div">

</div>

<script src="{%  static 'js/image.js' %}"></script>
{% endblock %}
