{% load static %}



<!DOCTYPE html>

<html data-csrf="{{ csrf_token }}">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Decorations{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>

{%  block script %}
{%  endblock %}

<body style="background:url('{% static 'img/background.jpg' %}')">
    <div id="used-space"> 
        <div id="header-space">
            <img id="header-img" src="{%static 'img/header.jpg' %}">
        </div>
        <div id="category-bar">
            <a href="{% url 'index' %}" class="button expand"
                style="margin-bottom:1px">HOME</a>

            {% for cat in category %}
                <a href="{%url 'index' %}" class="button expand"
                    style="margin-bottom:1px">{{ cat.name }}</a>
            {% endfor %}

            <a href="{% url 'index' %}" class="button expand"
                style="margin-top:1px">Contact</a>
        </div>
        <div id="content-space">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
